* {
padding: 0;
margin: 0;
}

body{
background-color: #093A41;
font-family: ;
}


.intro-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 75%;
margin: 0 auto;
gap: 35px;

}

.intro-container p, h2{
color: #fff;

}

.intro-container h2{
font-size: 40px;
width: 75%;
margin-bottom: 20px;
    
}

.intro-texter span{
color: gold;

}

.intro-billede img{
height: 400px;
width: 400px;

}


H1{
font-size: 60;
}

p{
    color: #fff;
}


/* Nu kommer style på Drinks*/
.drinksSiden{
    padding: 5rem;
}
.overskriftOgTekst{
display: flex;
flex-direction: column;
align-items: center;
}

.drink{
    display: flex;
    flex-direction: column;
    align-items: center;
    marin: 1rem;
}


.drinksKort{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 1rem;
}

.drinksKortBilleder {
    width: 360px;
}
