* {
padding: 0;
margin: 0;
}

body{
background-color: #093A41;
max-width: 1440px;
}


.introduktion{
margin-bottom: 50px;


}

.intro-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 85%;
margin: 0 auto;
gap: 35px;

}

.intro-container p, h2{
color: #fff;

}


.intro-container h2{
font-size: 40px;
width: 75%;
margin-bottom: 20px;
    
}

.intro-texter span{
color: #F6AE2D

}

.intro-billede img{
height: 400px;
width: 550px;

}

.intro-knapper{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
margin-top: 25px;
gap: 30px;


}

button{
border: none;
font-weight: bold;


}

.btn-border {
display: flex;
margin: 7px;
padding: 10px 20px;
border: solid #093A41 1px;
height: 100%;
text-align: center;
color: #093A41;

}

.drinks-kort-knap{
background-color: #B8CBC9;


}


//** KASPER **//

h1{
font-size: 60;
}

p{
    color: #fff;
}


/* Nu kommer style på Drinks*/
.drinksSiden{
    padding: 5rem;
}
.overskriftOgTekst{
display: flex;
flex-direction: column;
align-items: center;
}

.drink{
    display: flex;
    flex-direction: column;
    align-items: center;
    marin: 1rem;
}


.drinksKort{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 1rem;
}

.drinksKortBilleder {
width: 360px;
}


.drinks-background-container{
height: 400px;
background-color: #1C0221;
border-top: 1px solid #F6AE2D;
border-bottom: 1px solid #F6AE2D;

}


.drinks-background-container img{
margin-top: 40px;
height: 300px;
width: 300px;
}


.drinks-main-container{
display: flex;
flex-direction: row;
justify-content: space-around;

}

.prikker{
width: 10px;
height: 10px;
background-color:#F6AE2D;
border-radius: 100%;

}

.prikker-container{
margin-top: 25px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;


}